@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.sectionI {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 150px; /* Ajuste para deixar menor */
    height: 150px; /* Quadrada */
    object-fit: cover;
    margin: 0 auto 20px;
}

.sectionIII {
    margin-bottom: 20px;
}

.divider {
    border: none;
    border-top: 1px solid #add8e6;
    margin: 20px 0;
}

h1 {
    font-size: 1.8rem;
    color: #003147;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.4rem;
    color: #003147;
    margin-bottom: 10px;
}

p, ul {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
    font-size: 1rem;
}

table th, table td {
    border: 1px solid #003147;
    padding: 10px;
}

table th {
    background-color: #003147;
    color: white;
    font-weight: 600;
}

table caption {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #003147;
    text-align: center;
}
